---
import Header from '../components/Header.astro';
import Home from '../components/Home.astro';
import Layout from '../layouts/Layout.astro';

import '@fontsource/open-sans';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/img/icono.png' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Rick and Morty</title>
  </head>
  <body>
    <Layout>
      <Header />

      <Home />
    </Layout>
  </body>
</html>

<style>
  * {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
  }

  html, body {
    background-color: #fff;
    color: #000;
  }
</style>
